<a href = "/series/{{seriesName}}/">
    <img class = "logo" src = "/imgs/logo.png">
</a>

<select onchange = "selectSeries(this.value)">
    <option value = "" disabled selected hidden>Välj serie här</option>
    {{#each series as |serie index|}}
        <option value = "{{pagename}}" {{ternary (eq ../seriesName pagename) "selected" ""}}>{{name}} ({{year}})</option>
    {{/each}}
</select>

<div class = "login-form">
    <div class = "inputs">
        <input type = "text" class = "login-field" placeholder = "Användarnamn"><br>
        <input type = "password" class = "login-field" placeholder = "Lösenord">
    </div>
    <div class = "submit">
        <input type = "submit" class = "login-button" value = "Logga in">
    </div>
</div>